body {
  font-family: Helvetica, sans-serif;
  background-image: url("https://media.giphy.com/media/9bTjZrytydVRK/giphy.gif") ;
  /* background-repeat: no-repeat; */
  color: white;
  /* background: rgb(214, 206, 206); */
}
header {
  border-bottom: 2px solid black;
  width: 80%;
  margin: 30px auto;
}

@media all and (max-width: 770px) {
  header,
  header ul {
    flex-direction: column;
  }
  .headerImg {
    display: none;
  }
  .content {
    text-align: center;
  }
  #biggestpic {
    width: 350px;
  }
  
}

nav {
  display: flex;
  justify-content: space-between;
}

#gpr{
  width: 50%;
  border-radius: 427px;
  position: relative;
  left: 272px;
}



/* Content flex */
.container {
    display: flex;
}
.item {
    border-radius: 12px;
    padding: 20px;
    margin:10px
    
}

.first-item {
    background: #36a28a ;
    flex-grow: 1;
}
.second-item {
    background: rgb(199, 105, 105);
}
.third-item {
    background: rgb(95, 95, 208);
}

/* Header */
header ul {
  display: flex;
}
header ul li {
  list-style-type: none;
  padding: 20px;
  background: black;
  color: white;
  border-radius: 12px;
  margin: 2px;
  cursor: pointer;
}
header ul li:hover {
  color: black;
  background: #bd0000;
}
.icons {
  width: 100%;
  z-index: 10;
}
.icons,
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 60px;
  color: #f5f5f5;
}
.headerImg {
  border-radius: 112px;
  position: absolute;
  top: 28px;
  left: 144px;
  width: 100px;
}
.planets {
  flex-wrap: wrap;
  position: relative;
  left: 75px;
}
#info {
    max-width:100%;
     background: linear-gradient(70deg, rgb(255, 154, 154), rgb(153, 153, 243),rgb(118, 236, 118), rgb(235, 197, 127), rgb(231, 167, 231), lightblue, pink);

}


footer {
 margin: 0;
 padding: 0;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
footer ul li {
  list-style: none;
}


/* footer */
.footer {
  background: #000;
  color: #8a8a8a;
  /* font-size: 14px; */
  padding: 60px 0 20px;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 350px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 32%;
  text-align: center;
}
ul {
  list-style-type: none;
}
.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
}
.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.copyright {
  text-align: center;
}
.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}
.content {
  line-height: 30px;
}

.text {
width: 90%; 
text-align: center;
}
